.about {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.about .left {
    text-align: center;
    margin: auto;
    padding: 1rem;

}



.my-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

p {
    color: #666;
    line-height: 1.6;
}

.contact {
    margin-top: 20px;
}

.contact a {
    color: #007bff;
    text-decoration: none;
}