.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    margin-bottom: 30px;
}

.footer-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.left {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.location {
    display: flex;
    margin-bottom: 0.8rem;
    font-size: 25px;
}

.location p {
    line-height: 30px;

}

.img-inherit {
    margin-left: 340px;
    margin-top: 40px;
    padding-left: 12px;
    padding-top: 5px;
    border: 1px solid black;
    height: 40px;
    width: 50px;
    background-color: rgb(64, 65, 79);
}

.img-inherit2 {
    margin-left: 20px;
    margin-top: 40px;
    padding-left: 12px;
    padding-top: 5px;
    border: 1px solid black;
    height: 40px;
    width: 50px;
    background-color: rgb(64, 65, 79);
}

.img-inherit3 {
    margin-left: 20px;
    margin-top: 40px;
    padding-left: 12px;
    padding-top: 8px;
    border: 1px solid black;
    height: 40px;
    width: 50px;
    background-color: rgb(64, 65, 79);

}

.img-inherit4 {
    margin-left: 20px;
    margin-top: 40px;
    padding-left: 14px;
    padding-top: 8px;
    border: 1px solid black;
    height: 40px;
    width: 50px;
    background-color: rgb(64, 65, 79);

}

.location .din {
    display: inline-block;

}

.right {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;

}

.social {
    margin-top: 0.3rem;
}

h4 {
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}

p {
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
    margin-top: 20px;
}

.phone {
    color: rgb(86, 88, 105);
    padding-top: 20px;



}

@media screen and (max-width: 640px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}