   .project-container {
    margin: auto;
    width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     /* background-color: black; */
     padding: 20px;
   
   }

   .project-card {
  
     background-color: black;
     border: 1px solid #e0e0e0;
     border-radius: 8px;
     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
     overflow: hidden;
     width: 400px;
     margin-bottom: 20px;
     color: white;
   }

   .project-card img {
     width: 100%;
     height: auto;
   }

   .project-details {
     padding: 15px;
   }

   .project-title {
     font-size: 20px;
     margin-bottom: 8px;
   }

   .project-description {
     font-size: 14px;
     margin-bottom: 10px;
   }

   .pro-btns {
     display: flex;
     /* gap: 4px;
     flex-direction: column; */
     justify-content:space-between;
     align-items: center;
     padding-top: 10px;

   }

   .btn {
     background-color: #007bff;
     color: #ffffff;
     padding: 8px 12px;
     border: none;
     border-radius: 4px;
     font-size: 12px;
     text-decoration: none;
     cursor: pointer;
     transition: background-color 0.2s;

   }

   .btn:hover {
     background-color: #0056b3;
   }

   .btn-icon {
     margin-right: 5px;
   }