.skill{
 
    position: relative;

}

.skill::before{
    content: "";
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;


}

.skill-bx{
    
    text-align: center;
    padding: 60px 50px;
}
.skill h5{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.skill-slider .item img{
    height: 200px;

    border-radius: 30%;
    object-fit: contain;
    margin: 0 auto 15px auto;
}

.proj-border {
    height: 300px;
    color: white;
    padding: 30px;
    
}


#lite{
    width: 600px;
    padding-right: 300px;
}



.fa-google{

   font-size: 25px;
   padding-left:30px;
   
}
.loot{
    padding-top: 10px;
}
